%h1 This is the Contacts Page
%p Here is some text to go with it
%br

%h3 Some Smaller Header
%p Some More text to fill out the paragraph

%br


.row
  .col-sm-6.col-md-4
    .thumbnail
      %img{:alt => "...", :src => "..."}/
      .caption
        %h3 Thumbnail label
        %p ...
        %p
          %a.btn.btn-primary{:href => "#", :role => "button"} Button
          %a.btn.btn-default{:href => "#", :role => "button"} Button

